@charset "utf-8";

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}

:root {
    --big-font: 1.5rem;
    --small-font: 13px;
    --font-weight: 700;

    --primary-color: #3e63ab;
    --second-color: #6d89c0;

    --line-height: 20px;
    --margin-bottom: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
    word-break: keep-all;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    padding: 10.416666666666668vw 0 0;
}

section#box1 {
    padding: 0;
}

section#box4 {
    padding-bottom: 10.416666666666668vw;
}

.inner {
    max-width: 1500px;
    margin: 0 auto;
}

#box3 .video li,
.thumbnail {
    margin-bottom: var(--margin-bottom);
}

/* header */
header {
    padding: 1rem;
    position: fixed;
    z-index: 9999;
    width: 100%;
    transition: .3s;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.active {
    background-color: var(--primary-color);
}

/* header .title {
    display: flex;
    align-items: center;
} */

header .titleImg {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

header .titleImg img {
    width: 100%;
    height: 100%;
}

header .gnb {
    display: flex;
}

header .gnb li {
    margin-right: 30px;
}

header .gnb li:last-child {
    margin-right: 0;
}

header .toggle {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 10;
    display: none;
}

header .toggle span {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: .3s;
}

header .toggle span:first-child(1) {
    top: 0;
}

header .toggle span:nth-child(2),
header .toggle span:nth-child(3) {
    top: 52%;
}

header .toggle span:last-child {
    top: 100%;
}

/* box1 */
#box1 .mainSlide .referenceBox {
    padding: 1rem;
}

#box1 .mainSlide .slick-list {
    position: relative;
}

#box1 .mainSlide .slick-prev,
#box1 .mainSlide .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    cursor: pointer;
    background: none;
}

#box1 .mainSlide .slick-prev {
    left: 5%;
}

#box1 .mainSlide .slick-next {
    right: 5%;
}

#box1 .mainSlide .slick-prev:after,
#box1 .mainSlide .slick-next:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #000;
    font-size: 1rem;
}

#box1 .mainSlide .slick-prev:after {
    content: '\f053';
    color: #fff;
}

#box1 .mainSlide .slick-next:after {
    content: '\f054';
    color: #fff;
}

#box1 .mainSlide .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    z-index: 100;

}

#box1 .mainSlide .slick-dots li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#box1 .mainSlide .slick-dots button {
    cursor: pointer;
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background: #fff;

}

#box1 .mainSlide .slick-dots .slick-active button {
    background: none;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
}

#box1 .mainSlide .imgBox:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.144);
    z-index: 1;
}

#box1 .mainSlide {
    position: relative;
}

#box1 .mainSlide .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    line-height: 30px;
    z-index: 2;
    text-align: center;
    white-space: nowrap;
}

/* box2 */
#box2 .referenceSlide .referenceBox {
    padding: 1rem;
}

#box2 .referenceSlide .referenceBox,
#box3 .video {
    font-size: var(--small-font);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

#box2 .referenceSlide .slick-list {
    position: relative;
}

#box2 .referenceSlide .slick-prev,
#box2 .referenceSlide .slick-next {
    position: absolute;
    top: 10.416666666666668vw;
    z-index: 1;
    font-size: 0;
    width: 50px;
    height: 50px;
    border: none;
    background: #000;
    cursor: pointer;
}

#box2 .referenceSlide .slick-prev {
    left: 5%;
}

#box2 .referenceSlide .slick-next {
    right: 5%;
}

#box2 .referenceSlide .slick-prev:after,
#box2 .referenceSlide .slick-next:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #000;
    font-size: 1rem;
}

#box2 .referenceSlide .slick-prev:after {
    content: '\f053';
    color: #fff;
}

#box2 .referenceSlide .slick-next:after {
    content: '\f054';
    color: #fff;
}

#box2 .referenceSlide .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    z-index: 100;
}

#box2 .referenceSlide .slick-dots button {
    cursor: pointer;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: .5rem;
    border: none;
    background: #a1a1a1;
}

#box2 .referenceSlide .slick-dots .slick-active button {
    background: #000;
}

/* box3 */
#box3 .video {
    display: flex;
    flex-wrap: wrap;
}

#box3 .video li {
    padding: 0 5px;
    width: 33.3333%;
}

/* box4 */
#box4 .video {
    display: flex;
    flex-wrap: wrap;
}

#box4 .video li {
    padding: 0 5px;
    width: 33.3333%;
    position: relative;
}

#box4 .video li .thumbnail{
    overflow: hidden;
}

#box4 .video li .thumbnail img {
    transition: 300ms;
}

#box4 .video li a {
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary-color);
    color: #fff;
    font-size: var(--small-font);
    font-weight: var(--font-weight);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#box4 .video li:nth-child(2) .downloadBtn {
  text-decoration-line: underline;
  text-underline-position: under;
}

footer {
    height: 50px;
    line-height: 50px;
    letter-spacing: .5px;
    text-align: center;
    background: var(--primary-color);
    font-size: var(--small-font);
    font-weight: var(--font-weight);
    color: #fff;
}

/* responsive */
@media screen and (max-width:480px) {
    header {
        padding: .8rem 1rem;
    }

    header .title h2 {
        display: none;
    }

    header .gnb {
        position: absolute;
        top: 0;
        right: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: var(--primary-color);
        line-height: var(--line-height);
        transition: .3s;
    }

    header .gnb.active {
        right: 0;
    }

    header .gnb li {
        margin: 0 0 var(--margin-bottom) 0;
    }

    header .toggle {
        display: block;
    }

    header .toggle.active span:first-child,
    header .toggle.active span:last-child {
        display: none;
    }

    header .toggle.active span:nth-child(2) {
        transform: rotate(-45deg);
    }

    header .toggle.active span:nth-child(3) {
        transform: rotate(45deg)
    }

    #box1 .mainSlide p {
        display: none;
    }

    .slick-next,
    .slick-arrow {
        display: none !important;
    }

    #box3 .video li,
    #box4 .video li {
        width: 100%;
    }

    #box4 .video li {
        position: static;
    }

    #box4 .video li a {
        display: block;
        text-align: center;
        position: static;
        transform: translate(0);
        padding: 13px;
        margin-bottom: 20px;
    }
}
